appnope==0.1.0
beautifulsoup4==4.4.1
decorator==4.0.4
Django==1.6.7
django-jinja==1.4.2
django-markdown-deux==1.0.5
ipdb==0.8.1
ipython==4.0.1
ipython-genutils==0.1.0
Jinja2==2.8
markdown2==2.3.0
MarkupSafe==0.23
mongoengine==0.9.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
PyJWT==1.4.1
pymongo==2.8.1
requests==2.8.1
simplegeneric==0.8.1
traitlets==4.0.0
-e git+https://github.com/duoshuo/duoshuo-python-sdk.git#egg=duoshuo-python-sdk
