{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block css %}
    <link href="{% static 'app/base.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/font-awesome/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
  {% endblock %}
  {% block extendcss %}
  {% endblock %}
  <title>Tblog</title>
</head>
<body>
  <div>
    {% block header %}
      {% include "header.html" %}
    {% endblock header %}
  </div>
  <div >
    {% block content %}
    {% endblock content %}
  </div>
  <div>
    {% block footer %}
      {% include "footer.html" %}
    {% endblock footer %}
  </div>
  <div>
    {% block footerjs %}
      <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
      <script src="{% static "app/ui/js/index.js"%}" type="text/javascript" charset="utf-8"></script>
      <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
    {% endblock footerjs %}
  </div>
</body>
</html>
