<footer class="footer">
<div class="">
    <div class="">
        <div class="">
        </div>
        <div class="">
            <p>版权所有 © 2015-2016 ipengtao.com </p>
            <p>CC BY-NC-SA 3.0</p>
            <p>
                 <a href="http://www.miitbeian.gov.cn" target="_blank">蜀ICP备14006373号</a>.
            </p>
            <p>
            Powered by <a href="http://www.djangoproject.com" target="_blank">Django</a>. 
            </p>
        </div>
        <div class="">
        </div>
    </div>
</div>
</footer>
