<footer class="footer">
<div class="">
    <div class="">
        <div class="">
        </div>
        <div class="">
            <p>版权所有 © 2015-2016 ipengtao.com </p>
            <p>CC BY-NC-SA 3.0</p>
            <p>
            Powered by <a href="http://www.djangoproject.com" target="_blank">Django</a>. 
            Host on <a href="https://www.digitalocean.com/?refcode=27f84522e8d1" target="_blank">digitalocean</a>.
            </p>
        </div>
        <div class="">
        </div>
    </div>
</div>
</footer>
