<footer class="footer">
<div class="container">
    <div class="row">
        <div class="span4">
        </div>
        <div class="span4">
            <!--<p>版权所有 © 2010-2013 ipengtao.com </p>-->
            <!--<p>CC BY-NC-SA 3.0</p>-->
            <p>
            Powered by <a href="http://www.djangoproject.com" target="_blank">Django</a>. 
            Host on <a href="https://www.digitalocean.com/?refcode=27f84522e8d1" target="_blank">digitalocean</a>.
            </p>
        </div>
        <div class="span4">
        </div>
    </div>
</div>
</footer>
