{%extends 'base.html'%}
{% load staticfiles %}
{% load markdown_deux_tags %}
{% block extendcss %}

{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <main class="col-md-8 main-content">
      {% for article in articles %}
      <h1><a href="{{ article.get_absolute_url }}">{{article.title}}</a></h1>
      <p>{{article.author}}
         {{article.created_date}}
      </p>
      <p>{{article.content|markdown}}</p>
      <p>阅读原文</p>
          {% for tag in article.tags %}
              <span >{{ tag }}</span>
          {% endfor %}
      <hr>
      {% endfor %}
    </main>
    <aside class="col-md-4 sidebar">
      <p><a href="{%url 'admin-index'%}" target="_blank">admin</a></p>
      <p><a href="{%url 'articles'%}" target="_blank">articles</a></p>
      <hr>
    </aside>
  </div>
</div>
{% endblock content %}
