{%extends 'base.html'%}
{% load staticfiles %}
{% load uifilter %}
{% load markdown_deux_tags %}
{% block extendcss %}
  <link href="{% static 'app/ui/css/index.css'%}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="wrap-content">
  <div class="content">
    <main class="main-content">
      {% block main-content %}
        {% for article in articles %}
          <article class="main-content-section">
            <div class="post-head">
              <h1 class="post-title"><a href="{{ article.get_absolute_url }}">{{article.title}}</a></h1>
              <p>作者：{{article.author.alias_name}} •{{ article.created_date|date:"Y年m月d日" }}</p>
            </div>
            {% if article.cover_pic %}
              <div class="featured-media">
                <a href="{{ article.get_absolute_url }}">
                  <img src="{{ article.cover_pic }}" alt="">
                </a>
              </div>
            {% endif %}
            <div class="post-content"><p class="J-ellipsis">{% if article.summary %} {{article.summary}} {% else %} {{ article.content }} {% endif %}</p></div>
            <div class="post-permalink">
              <a href="{{ article.get_absolute_url }}" class="btn-detail">阅读全文</a>
            </div>
            <div class="tag-list">
              <i class="fa fa-tags"></i>
              {% for tag in article.tags %}
                <span ><a href="{% url 'tag-index' tag %}">{{ tag }} {% if not forloop.last %}，{% endif %}</a></span>
              {% endfor %}
            </div>
            {% block duoshuo %}
            {% endblock %}
          </article>
      {% endfor %}
      <nav class="pagination" role="navigation">
        {% if page_num|sub_one > 0 %}
          <a class="pre-page" href="{% url 'page-info' page_num|sub_one %}"><i class="fa fa-angle-left"></i></a>
        {% endif %}

        <span class="page-num">第 {{ page_num }} 页 ⁄ 共 {{ total_page }} 页</span>
        {% if page_num|add_one <= total_page %}
          <a class="next-page" href="{% url 'page-info' page_num|add_one %}"><i class="fa fa-angle-right"></i></a>
        {% endif %}
      </nav>
    {% endblock %}
    </main>
  {% block sidebar %}
    <aside class="sidebar">
      <p>关于我</p>
      <hr>
      知道创宇Python开发者一枚
    <!-- Place this tag where you want the button to render. -->
     <a class="github-button" href="https://github.com/sit-in" data-style="mega" data-count-href="/sit-in/followers" data-count-api="/users/sit-in#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @sit-in on GitHub">Follow @sit-in</a>
    </aside>
    <aside class="sidebar">
      <p>微信公众号</p>
      <hr>
      <img class="slide-right" src="http://7pn4yj.com1.z0.glb.clouddn.com/erweima.jpg" alt="微信二维码"/>
    </aside>
    <aside class="sidebar">
      <p>朋友们</p>
      <hr>
      <p><a href="http://blog.shonenada.com/" target="_blank">shonenada</a></p>
    </aside>
    <div class="clear"></div>
    </div>
  {% endblock %}
</div>
{% endblock content %}
