.container {
    width: 100%;
    margin:10px auto;
}
.form-error {
    color: red;
}
.form-data {
    font-size:16px;
}
.form-setting {
    width: 90%;
    margin:10px 0;
    height: 30px;
}
.form-content {
    /*height: 80%;*/
    height:280px;
    border-color:#CCCCCC;
}

.help-block {
    text-align: left;
    margin-left:55px;
    color:#aaa;
    font-size:14px;
}

