{%extends 'index.html'%}
{% load markdown_deux_tags %}
{% load staticfiles %}
{% load duoshuo_tags %}
{% block main-content %}
  <article class="main-content-section">
    <div class="post-head">
      <h1 class="post-title"><a href="{{ article.get_absolute_url }}">{{article.title}}</a></h1>
      <p>作者：{{article.author}} •{{article.created_date}}</p>
    </div>
    <div class="featured-media">
      <a href="{{ article.get_absolute_url }}">
        <img src="http://placehold.it/680x340" alt="">
      </a>
    </div>
    <div class="post-content"><p>{{article.content|markdown}}</p></div>
    <div class="tag-list">
      <i class="fa fa-tags"></i>
      {% for tag in article.tags %}
        <span ><a href="{{ tag.link }}">{{ tag }}</a>{% if not forloop.last %},{% endif %}</span>
      {% endfor %}
    </div>
    {% duoshuo_comments %}
  </article>
{% endblock %}
