{%extends 'index.html'%}
{% load staticfiles %}
{% block main-content %}
  <article class="main-content-section">
    <div class="post-head">
      <h1 class="post-title">
        <a href="{{ article.get_absolute_url }}">{{article.title}}</a>
      </h1>
      {% if request.user.is_authenticated %}
          <span><a href="{%url "article-edit" article.id %}">编辑</a></span>
      {% endif %}
      <p>作者：{{article.author.alias_name}} •{{ article.created_date|date:"Y年m月d日" }}</p>
    </div>
    <div class="featured-media">
      <a href="{{ article.get_absolute_url }}">
      </a>
    </div>
    <div class="post-content">{{article.content|safe}}</div>
    <div class="tag-list">
      <i class="fa fa-tags"></i>
      {% for tag in article.tags %}
        <span ><a href="{% url 'tag-index' tag %}">{{ tag }}</a>{% if not forloop.last %},{% endif %}</span>
      {% endfor %}
    </div>
  </article>
{% endblock %}
{% block footerjs %}
<!-- Place this tag right after the last button or just before your close body tag. -->
{% endblock %}
