{% extends 'admin/home.html' %}
{% load staticfiles %}
{% block extendcss %}
  <link rel="stylesheet" href="{% static "app/admin/css/article.css"%}" type="text/css" media="screen" title="no title" charset="utf-8">
{% endblock %}

{% block content %}
  <div class="container">
    <form action="{% url 'article-edit' article_id %}" method='POST'>
        {% csrf_token %}
        <div class="form-data">
          <p  class='form-error'>{{errors}}</p>
          <input class='form-setting' type="text" placeholder='标题' name='title' value="{{article.title}}">
        </div>
        <div class="form-data">
          <input class='form-setting' type="text" placeholder='别名' name='alias_name' value="{{article.alias_name}}">
        </div>
        <div class="form-data">
          <textarea class='form-setting form-content' placeholder='内容' name="content" rows="8" cols="40">{{article.content}}</textarea>
        </div>
      <div class="form-data">
        <input class='form-setting' placeholder='摘要' name="summary" value="{{article.summary}}">
      </div>
      <div class="form-data">
        <input class='form-setting' placeholder='封面图片' name="cover_pic" value="{{article.cover_pic}}">
      </div>
      <div class="form-data">
        <input class='form-setting' type="text" placeholder='类别' name='categories' value="{{article.categories}}">
        <p class="help-block">类别之间请用逗号分隔</p>
      </div>
        <div class="form-data">
          <input class='form-setting' type="text" placeholder='标签' name='tags' value="{{article.tags}}">
          <p class="help-block">标签之间请用逗号分隔</p>
        </div>
        <button class="btn-article" type="submit">提交</button>
      </form>
  </div>
{% endblock content %}
